#transactions
  list-style: none
  padding-top: 4px

.transaction-day
  list-style: none
  border-top: 1px solid rgba(255,255,255,0.2)
  padding: 10px 20px 20px 20px
  font-size: rem-calc(18)

.transactions-day-info
  text-align: left
.transactions-day-value
  text-align: right